{
    "openapi": "3.0.1",
    "info": {
        "title": "NextGenPSD2 XS2A Framework",
        "version": "1.0.8",
        "description": "# Summary\nThe **NextGenPSD2** *Framework Version 1.3.4* offers a modern, open, harmonised and interoperable set of \nApplication Programming Interfaces (APIs) as the safest and most efficient way to provide data securely. \nThe NextGenPSD2 Framework reduces XS2A complexity and costs, addresses the problem of multiple competing standards \nin Europe and, aligned with the goals of the Euro Retail Payments Board,\nenables European banking customers to benefit from innovative products and services ('Banking as a Service') \nby granting TPPs safe and secure (authenticated and authorised) access to their bank accounts and financial data.\n\nThe possible Approaches are:\n  * OAuth SCA Approach\n  * Decoupled SCA Approach\n\n  Not every message defined in this API definition is necessary for all approaches. \n  Furthermore this API definition does not differ between methods which are mandatory, conditional, or optional\n  Therefore for a particular implementation of a Berlin Group PSD2 compliant API it is only necessary to support \n  a certain subset of the methods defined in this API definition.\n\n  **Please have a look at the implementation guidelines if you are not sure \n  which message has to be used for the approach you are going to use.**\n\n## Some General Remarks Related to this version of the OpenAPI Specification:\n* **This API definition is based on the Implementation Guidelines of the Berlin Group PSD2 API.** \n  It is not a replacement in any sense.\n  The main specification is (at the moment) always the Implementation Guidelines of the Berlin Group PSD2 API.\n* **This API definition contains the REST-API for requests from the PISP to the ASPSP.**\n* **This API definition contains the messages for all different approaches defined in the Implementation Guidelines.**\n* According to the OpenAPI-Specification [https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md]\n  \n    \"If in is \"header\" and the name field is \"Accept\", \"Content-Type\" or \"Authorization\", the parameter definition SHALL be ignored.\"\n  \n  The element \"Accept\" will not be defined in this file at any place.\n  \n  The elements \"Content-Type\" and \"Authorization\" are implicitly defined by the OpenApi tags \"content\" and \"security\".\n  \n* There are several predefined types which might occur in payment initiation messages, \n  but are not used in the standard JSON messages in the Implementation Guidelines.\n  Therefore they are not used in the corresponding messages in this file either.\n  We added them for the convenience of the user.\n  If there is a payment product, which need these field, one can easily use the predefined types.\n  But the ASPSP need not to accept them in general.\n  \n* **We omit the definition of all standard HTTP header elements (mandatory/optional/conditional) \n   except they are mentioned in the Implementation Guidelines.**\n  Therefore the implementer might add these in his own realisation of a PSD2 comlient API in addition to the elements defined in this file.\n\n   \n## General Remarks on Data Types\n\n   The Berlin Group definition of UTF-8 strings in context of the PSD2 API has to support at least the following characters\n\n\na b c d e f g h i j k l m n o p q r s t u v w x y z\n\nA B C D E F G H I J K L M N O P Q R S T U V W X Y Z\n\n#BOI-REMARK: The Hebrew alphabt must be supported as part of the character set\n\u05d0 \u05d1 \u05d2 \u05d3 \u05d4 \u05d5 \u05d6 \u05d7 \u05d8 \u05d9 \u05db \u05da \u05dc \u05de \u05dd \u05e0 \u05df \u05e1 \u05e2 \u05e4 \u05e3 \u05e6 \u05e5 \u05e7 \u05e8 \u05e9 \u05ea\n\n0 1 2 3 4 5 6 7 8 9\n\n/ - ? : ( ) . , ' +\n\nSpace\n",
        "license": {
            "name": "Creative Commons Attribution 4.0 International Public License",
            "url": "https://creativecommons.org/licenses/by/4.0/"
        },
        "contact": {
            "name": "The Berlin Group - A European Standards Initiative",
            "url": "https://www.berlin-group.org/",
            "email": "info@berlin-group.org"
        }
    },
    "externalDocs": {
        "description": "Full Documentation of NextGenPSD2 Access to Account Interoperability Framework\n(General Introduction Paper, Operational Rules, Implementation Guidelines)\n",
        "url": "https://www.berlin-group.org/nextgenpsd2-downloads"
    },
    "servers": [
        {
            "url": "https://api.testbank.com/psd2",
            "description": "PSD2 server"
        },
        {
            "url": "https://test-api.testbank.com/psd2",
            "description": "Optional PSD2 test server"
        }
    ],
    "paths": {
        "/v1.0.8/{payment-service}/{payment-product}": {
            "post": {
                "summary": "Payment initiation request",
                "description": "This method is used to initiate a payment at the ASPSP.\n\n\nThere are the following **payment products**:\n\n  - Payment products with payment information in *JSON* format:\n    - ***masav***\n    - ***zahav***\n    - ***FP***\n\nFurthermore the request body depends on the **payment-service**\n  * ***payments***: A single payment initiation request.\n  * ***bulk-payments***: A collection of several payment iniatiation requests.\n  * ***periodic-payments***: \n    Create a standing order initiation resource for recurrent i.e. periodic payments addressable under {paymentId} \n     with all data relevant for the corresponding payment product and the execution of the standing order contained in a JSON body. \n\n\nThis is the first step in the API to initiate the related recurring/periodic payment.\n  \n### BOI-REMARK : Multilevel SCA Approach does not supported.\nThe Payment Initiation Requests are independent from the need of one or multilevel \nSCA processing, i.e. independent from the number of authorisations needed for the execution of payments. \n\nBut the response messages are specific to either one SCA processing or multilevel SCA processing. \n\nFor payment initiation with multilevel SCA, this specification requires an explicit start of the authorisation, \ni.e. links directly associated with SCA processing like 'scaRedirect' or 'scaOAuth' cannot be contained in the \nresponse message of a Payment Initation Request for a payment, where multiple authorisations are needed. \nAlso if any data is needed for the next action, like selecting an SCA method is not supported in the response, \nsince all starts of the multiple authorisations are fully equal. \nIn these cases, first an authorisation sub-resource has to be generated following the 'startAuthorisation' link.\n",
                "operationId": "initiatePayment",
                "tags": [
                    "Payment Initiation Service (PIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentService"
                    },
                    {
                        "$ref": "#/components/parameters/paymentProduct"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-ID-Type"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_optional"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Redirect-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Redirect-URI"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Nok-Redirect-URI"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Explicit-Authorisation-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Rejection-NoFunds-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Notification-URI"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Notification-Content-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID_conditional"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location_conditional"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/paymentInitiation"
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/CREATED_201_PaymentInitiation"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_PIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_PIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_PIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_PIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_PIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_PIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_PIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_PIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_PIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_PIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_PIS"
                    }
                }
            }
        },
        "/v1.0.8/{payment-service}/{payment-product}/{paymentId}": {
            "get": {
                "summary": "Get Payment Information",
                "description": "Returns the content of a payment object",
                "operationId": "getPaymentInformation",
                "tags": [
                    "Payment Initiation Service (PIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentService"
                    },
                    {
                        "$ref": "#/components/parameters/paymentProduct"
                    },
                    {
                        "$ref": "#/components/parameters/paymentId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_optional"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_PaymentInitiationInformation"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_PIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_PIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_PIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_PIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_PIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_PIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_PIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_PIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_PIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_PIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_PIS"
                    }
                }
            },
            "delete": {
                "summary": "Payment Cancellation Request",
                "description": "This method initiates the cancellation of a payment. \nDepending on the payment-service, the payment-product and the ASPSP's implementation, \nthis TPP call might be sufficient to cancel a payment. \nIf an authorisation of the payment cancellation is mandated by the ASPSP, \na corresponding hyperlink will be contained in the response message.\n\nCancels the addressed payment with resource identification paymentId if applicable to the payment-service, payment-product and received in product related timelines (e.g. before end of business day for scheduled payments of the last business day before the scheduled execution day). \n\nThe response to this DELETE command will tell the TPP whether the \n  * access method was rejected\n  * access method was successful, or\n  * access method is generally applicable, but further authorisation processes are needed.\n",
                "operationId": "cancelPayment",
                "tags": [
                    "Payment Initiation Service (PIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentService"
                    },
                    {
                        "$ref": "#/components/parameters/paymentProduct"
                    },
                    {
                        "$ref": "#/components/parameters/paymentId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_optional"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/NO_CONTENT_204_PaymentInitiationCancel"
                    },
                    "202": {
                        "$ref": "#/components/responses/RECEIVED_202_PaymentInitiationCancel"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_PIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_PIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_PIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_PIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_PIS_CANC"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_PIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_PIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_PIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_PIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_PIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_PIS"
                    }
                }
            }
        },
        "/v1.0.8/{payment-service}/{payment-product}/{paymentId}/status": {
            "get": {
                "summary": "Payment initiation status request",
                "description": "Check the transaction status of a payment initiation.",
                "operationId": "getPaymentInitiationStatus",
                "tags": [
                    "Payment Initiation Service (PIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentService"
                    },
                    {
                        "$ref": "#/components/parameters/paymentProduct"
                    },
                    {
                        "$ref": "#/components/parameters/paymentId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_optional"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_PaymentInitiationStatus"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_PIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_PIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_PIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_PIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_PIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_PIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_PIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_PIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_PIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_PIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_PIS"
                    }
                }
            }
        },
        "/v1.0.8/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}": {
            "get": {
                "summary": "Read the SCA Status of the payment authorisation",
                "description": "This method returns the SCA status of a payment initiation's authorisation sub-resource.\n",
                "operationId": "getPaymentInitiationScaStatus",
                "tags": [
                    "Payment Initiation Service (PIS)",
                    "Common Services"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentService"
                    },
                    {
                        "$ref": "#/components/parameters/paymentProduct"
                    },
                    {
                        "$ref": "#/components/parameters/paymentId"
                    },
                    {
                        "$ref": "#/components/parameters/authorisationId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_ScaStatus"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_PIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_PIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_PIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_PIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_PIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_PIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_PIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_PIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_PIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_PIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_PIS"
                    }
                }
            }
        },
        "/v1.0.8/accounts": {
            "get": {
                "summary": "Read Account List",
                "description": "Read the identifiers of the available payment account together with \nbooking balance information, depending on the consent granted.\n\nIt is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. \nThe addressed list of accounts depends then on the PSU ID and the stored consent addressed by consentId, \nrespectively the OAuth2 access token. \n\nReturns all identifiers of the accounts, to which an account access has been granted to through \nthe /consents endpoint by the PSU. \nIn addition, relevant information about the accounts and hyperlinks to corresponding account \ninformation resources are provided if a related consent has been already granted.\n\nRemark: Note that the /consents endpoint optionally offers to grant an access on all available \npayment accounts of a PSU. \nIn this case, this endpoint will deliver the information about all available payment accounts \nof the PSU at this ASPSP.\n\nBOI-REMARK: TPP with PSP_IC role is authorised to much less details about accounts, all attributes that should be filtered are marked on schema AccountDetails.\n",
                "operationId": "getAccountList",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/withBalanceQuery"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_AccountList"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/accounts/{account-id}": {
            "get": {
                "summary": "Read Account Details",
                "description": "Reads details about an account, with balances where required. \nIt is assumed that a consent of the PSU to \nthis access is already given and stored on the ASPSP system. \nThe addressed details of this account depends then on the stored consent addressed by consentId, \nrespectively the OAuth2 access token.\n\n**NOTE:** The account-id can represent a multicurrency account. \nIn this case the currency code is set to \"XXX\".\n\nGive detailed information about the addressed account.\n\nGive detailed information about the addressed account together with balance information\n\n\nBOI-REMARK: TPP with PSP_IC role is authorised to much less details about accounts, all attributes that should be filtered are marked on schema AccountDetails.\n",
                "operationId": "readAccountDetails",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/withBalanceQuery"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_AccountDetails"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/accounts/{account-id}/balances": {
            "get": {
                "summary": "Read Balance",
                "description": "Reads account data from a given account addressed by \"account-id\". \n\n**Remark:** This account-id can be a tokenised identification due to data protection reason since the path \ninformation might be logged on intermediary servers within the ASPSP sphere. \nThis account-id then can be retrieved by the \"GET Account List\" call.\n\nThe account-id is constant at least throughout the lifecycle of a given consent.\n",
                "operationId": "getBalances",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_Balances"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/accounts/{account-id}/transactions": {
            "get": {
                "summary": "Read transaction list of an account",
                "description": "Read transaction reports or transaction lists of a given account ddressed by \"account-id\", depending on the steering parameter \n\"bookingStatus\" together with balances.\n\nFor a given account, additional parameters are e.g. the attributes \"dateFrom\" and \"dateTo\". \nThe ASPSP might add balance information, if transaction lists without balances are not supported.\n      \nBOI-REMARK - ASPSP shall choose between responding to read transaction list service in one step to responding in two steps as described below:\n* For 'read transaction list service', conditional attributes - attributes presented to the PSU by the ASPSP through the on-line channels at the current account transaction page.\n* For 'transaction details service' , conditional attribute - attributes presented to the PSU by the ASPSP through the on-line channels, following an added PSU's query (for example - an additional click).\nThe implementation option shall be documented in the ASPSP's XS2A interface.\n",
                "operationId": "getTransactionList",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/dateFrom"
                    },
                    {
                        "$ref": "#/components/parameters/dateTo"
                    },
                    {
                        "$ref": "#/components/parameters/entryReferenceFrom"
                    },
                    {
                        "$ref": "#/components/parameters/bookingStatus"
                    },
                    {
                        "$ref": "#/components/parameters/deltaList"
                    },
                    {
                        "$ref": "#/components/parameters/withBalanceQuery"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_AccountsTransactions"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/accounts/{account-id}/transactions/{transactionId}": {
            "get": {
                "summary": "Read Transaction Details",
                "description": "Reads transaction details from a given transaction addressed by \"transactionId\" on a given account addressed by \"account-id\". \nThis call is only available on transactions as reported in a JSON format.\n\n**Remark:** Please note that the PATH might be already given in detail by the corresponding entry of the response of the \n\"Read Transaction List\" call within the _links subfield.\n",
                "operationId": "getTransactionDetails",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/transactionId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_TransactionDetails"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/card-accounts": {
            "get": {
                "summary": "Reads a list of card accounts",
                "description": "Reads a list of card accounts with additional information, e.g. balance information. \nIt is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. \nThe addressed list of card accounts depends then on the PSU ID and the stored consent addressed by consentId, \nrespectively the OAuth2 access token. \n",
                "operationId": "getCardAccount",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_CardAccountList"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/card-accounts/{account-id}": {
            "get": {
                "summary": "Reads details about a card account",
                "description": "Reads details about a card account. \nIt is assumed that a consent of the PSU to this access is already given \nand stored on the ASPSP system. The addressed details of this account depends \nthen on the stored consent addressed by consentId, respectively the OAuth2 \naccess token.\n",
                "operationId": "ReadCardAccount",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_CardAccountDetails"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/card-accounts/{account-id}/balances": {
            "get": {
                "summary": "Read card account balances",
                "description": "Reads balance data from a given card account addressed by \n\"account-id\". \n\n\nRemark: This account-id can be a tokenised identification due \nto data protection reason since the path information might be \nlogged on intermediary servers within the ASPSP sphere. \nThis account-id then can be retrieved by the \n\"GET Card Account List\" call\n",
                "operationId": "getCardAccountBalances",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_CardAccountBalances"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/card-accounts/{account-id}/transactions": {
            "get": {
                "summary": "Read transaction list of an account",
                "description": "Reads account data from a given card account addressed by \"account-id\".\nASPSP shall choose between responding to read card transaction list service in one step to responding in two steps as described below-\n* For 'read card transaction list service', conditional attributes - attributes presented to the PSU by the ASPSP through the on-line channels at the card transaction page.\n* For 'card transaction details service' , conditional attribute - attributes presented to the PSU by the ASPSP through the on-line channels, following an added PSU's query (for example - an additional click).\nThe implementation option shall be documented in the ASPSP's XS2A interface.\n",
                "operationId": "getCardAccountTransactionList",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/accountId"
                    },
                    {
                        "$ref": "#/components/parameters/dateFrom"
                    },
                    {
                        "$ref": "#/components/parameters/dateTo"
                    },
                    {
                        "$ref": "#/components/parameters/entryReferenceFrom"
                    },
                    {
                        "$ref": "#/components/parameters/bookingStatus"
                    },
                    {
                        "$ref": "#/components/parameters/deltaList"
                    },
                    {
                        "$ref": "#/components/parameters/withBalanceQuery"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/consentId_HEADER_mandatory"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_CardAccountsTransactions"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/consents": {
            "post": {
                "summary": "Create consent",
                "description": "This method create a consent resource, defining access rights to dedicated accounts of \na given PSU-ID. These accounts are addressed explicitly in the method as \nparameters as a core function.\n\n**Side Effects**\nWhen this Consent Request is a request where the \"recurringIndicator\" equals \"true\", \nand if it exists already a former consent for recurring access on account information \nfor the addressed PSU, then the former consent automatically expires as soon as the new \nconsent request is authorised by the PSU.\n\n\nBOI-REMARK:\nBOI is differentiating ASPSPs in the role of banks and of credit card processors.\nFor banks, the detailed consent will differentiate between payment accounts and card\naccounts- payment accounts are addressed by the IBAN as offered in the generic\nNextGenPSD2 standard. If card related information is also addressed, the TPP shall not use\nPANs of a credit card. The TPP may use the IBAN with the additional cashAccountType\n\"CARD\". When card related information is addressed the meaning is that the consent is given\nto all credit cards related to the same IBAN.\nFor credit card processors, all cards which are to be consented for account information need\nto be addressed by maskedPANs specificlly in the Detailed Consent Model. Credit card\nprocessors are mandated to offer in addition the Bank Offered Consent Model, i.e. in a first (or follow up) consent request, the TPP can let the PSU choose all cards to be addressed during authorisation on the ASPSP authorisation page. The TPP will retrieve the maskedPANs of all related cards in the GET /card-accounts/\u2026 calls.\n\nOptional Extension:\nAs an option, an ASPSP might optionally accept a specific access right on the access on all psd2 related services for all available accounts. \n\nAs another option an ASPSP might optionally also accept a command, where only access rights are inserted without mentioning the addressed account. \nThe relation to accounts is then handled afterwards between PSU and ASPSP. \nThis option is not supported for the Embedded SCA Approach. \nAs a last option, an ASPSP might in addition accept a command with access rights\n  * to see the list of available payment accounts or\n  * to see the list of available payment accounts with balances.\n",
                "operationId": "createConsent",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-ID-Type"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Corporate-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Corporate-ID-Type"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Redirect-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Redirect-URI"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Nok-Redirect-URI"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Explicit-Authorisation-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Notification-URI"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Notification-Content-Preferred"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/consents"
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/CREATED_201_Consents"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/consents/{consentId}": {
            "get": {
                "summary": "Get Consent Request",
                "description": "Returns the content of an account information consent object. \nThis is returning the data for the TPP especially in cases, \nwhere the consent was directly managed between ASPSP and PSU e.g. in a re-direct SCA Approach.\n",
                "operationId": "getConsentInformation",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/consentId_PATH"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_ConsentInformation"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            },
            "delete": {
                "summary": "Delete Consent",
                "description": "The TPP can delete an account information consent object if needed.",
                "operationId": "deleteConsent",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/consentId_PATH"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/NO_CONTENT_204_Consents"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/consents/{consentId}/status": {
            "get": {
                "summary": "Consent status request",
                "description": "Read the status of an account information consent resource.",
                "operationId": "getConsentStatus",
                "tags": [
                    "Account Information Service (AIS)"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/consentId_PATH"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_ConsentStatus"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
                    },
                    "409": {
                        "$ref": "#/components/responses/CONFLICT_409_AIS"
                    },
                    "415": {
                        "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS"
                    },
                    "429": {
                        "$ref": "#/components/responses/TOO_MANY_REQUESTS_429_AIS"
                    },
                    "500": {
                        "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500_AIS"
                    },
                    "503": {
                        "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503_AIS"
                    }
                }
            }
        },
        "/v1.0.8/consents/{consentId}/authorisations/{authorisationId}": {
            "get": {
                "summary": "Read the SCA status of the consent authorisation.",
                "description": "This method returns the SCA status of a consent initiation's authorisation sub-resource.\n",
                "operationId": "getConsentScaStatus",
                "tags": [
                    "Account Information Service (AIS)",
                    "Common Services"
                ],
                "security": [
                    {},
                    {
                        "BearerAuthOAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/consentId_PATH"
                    },
                    {
                        "$ref": "#/components/parameters/authorisationId"
                    },
                    {
                        "$ref": "#/components/parameters/X-Request-ID"
                    },
                    {
                        "$ref": "#/components/parameters/Digest"
                    },
                    {
                        "$ref": "#/components/parameters/Signature"
                    },
                    {
                        "$ref": "#/components/parameters/TPP-Signature-Certificate"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Address_conditionalForAis"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-IP-Port"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Charset"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Encoding"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-User-Agent"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Http-Method"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Device-ID"
                    },
                    {
                        "$ref": "#/components/parameters/PSU-Geo-Location"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK_200_ScaStatus"
                    },
                    "400": {
                        "$ref": "#/components/responses/BAD_REQUEST_400_AIS"
                    },
                    "401": {
                        "$ref": "#/components/responses/UNAUTHORIZED_401_AIS"
                    },
                    "403": {
                        "$ref": "#/components/responses/FORBIDDEN_403_AIS"
                    },
                    "404": {
                        "$ref": "#/components/responses/NOT_FOUND_404_AIS"
                    },
                    "405": {
                        "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405_AIS"
                    },
                    "406": {
                        "$ref": "#/components/responses/NOT_ACCEPTABLE_406_AIS"
                    },
                    "408": {
                        "$ref": "#/components/responses/REQUEST_TIMEOUT_408_AIS"
[...]
